<h1 (click)="ExibirEsconderDiv(div1)">Capítulo 5 Input Output</h1>
<div #div1 [ngStyle]="{'display':'none'}">
    <app-comp-cap-5-input-output></app-comp-cap-5-input-output>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div2)">Capítulo 5 Init Destroy</h1>
<div #div2 [ngStyle]="{'display':'none'}">
    <app-comp-cap-5-init-destroy></app-comp-cap-5-init-destroy>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div3)">Capítulo 6 Directives</h1>
<div #div3 [ngStyle]="{'display':'none'}">
    <app-comp-cap-6-directives></app-comp-cap-6-directives>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div4)">Capítulo 7 Data Binding</h1>

<div #div4 [ngStyle]="{'display':'none'}">
    <app-comp-cap-7-data-binding></app-comp-cap-7-data-binding>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div5)">Capítulo 8 Services e Dependency Injection</h1>

<div #div5 [ngStyle]="{'display':'none'}">
    <app-comp-cap-8-services-di></app-comp-cap-8-services-di>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div6)">Capítulo 9 Template-driven Forms</h1>

<div #div6 [ngStyle]="{'display':'none'}">
    <app-comp-cap-9-template-driven-form></app-comp-cap-9-template-driven-form>
</div>

<hr>

<h1 (click)="ExibirEsconderDiv(div7)">Capítulo 9 Reactive Forms</h1>

<div #div7 [ngStyle]="{'display':'none'}">
    <app-comp-cap-9-reactive-form></app-comp-cap-9-reactive-form>
</div>



<button routerLink="/cap10">Cap 10</button>